/*clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);*/

:root{
    --color1 :#f5f5f5;
    --color2: #000000;
    --color3: #fff;
    --color4: orange;
    --color5: blue;
    --color6: #dbdada;
    --color7: #612e1d;
    --color8: #13131342;
    --color9: #440d5a;
    --color01: #fef6f4;
    --color02: rgba(245, 245, 245, 0.335);
    --color03: rgba(109, 104, 104, 0.801);

}

.head img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 33.3%;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.head h2{
    color: var(--color3);
    font-family: 'Monoton', cursive;
    font-size: 2em;
}

.head p{
    color: var(--color3);
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

.content{
    margin-top: 2em;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}

.img{
    width: 100%;
    
}

.dv{
    background-color: var(--color1);
    border-radius: 13px;

}